body,h1,h2,h3,h4,h5,h6 
{
    font-family: "Lato", sans-serif
}

.w3-bar,h1,button 
{
    font-family: "Montserrat", sans-serif
}
.fa-anchor,.fa-coffee {
    font-size:200px
}

.green{
    background-color:#3F7652
}
.centered-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically, if needed */
    height: 100%;           /* Full viewport height, adjust as needed */
}
.pdf-viewer {
    width: 800px;            /* Fixed width for the PDF viewer */
    max-width: 100%;         /* Ensure responsiveness */
}
.button {
    background-color: #BADA55; 
    border: none;
    color: #000;
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    font-family: Georgia, serif;
  }
  .button:hover{
    background-color:#3F7652;
  }